.block{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 5%;
  .btnsBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
  }
  .actionBtns{
    display: flex;
    justify-content: space-around;
  }
}
