.block{
  width: 35%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  list-style: none;
  li{
    animation: entering 200ms linear;
    cursor: pointer;
  }
}

@keyframes entering {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}